<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="/filterMovies"><i class="fa-solid fa-filter"></i> Filter Movies</a></li>
                <li class="nav-item"><a href="/crud"><i class="fa-solid fa-list"></i>Crud</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="/loginAdmin"><i class="fa-solid fa-user-tie"></i> Admin</a></li>
                <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </nav>
    </div>

    <form onsubmit="return false">
        <label for="entity">Selecciona la entidad:</label>
        <select name="entity" id="entity">
            <option value="country">País</option>
            <option value="language">Idioma</option>
            <option value="language_role">Rol de Idioma</option>
            <option value="genre">Género</option>
            <option value="keyword">Palabra Clave</option>
            <option value="production_company">Compañía de Producción</option>
            <option value="gender">Género</option>
            <option value="person">Persona</option>
            <option value="department">Departamento</option>
        </select>

        <br>
        <label for="param1">Filtrar por:</label>
        <input type="text" id="param1" name="param1">

        <label for="param2">Filtrar por:</label>
        <input type="text" id="param2" name="param3">

        <br>

        <br>
        <button type="button"></button>
    </form>


    <div class="button-section">
        <button type="button" id="prevButton">Anterior</button>
        <button type="button" id="nextButton">Siguiente</button>
    </div>

    <section>
        <table id="table">
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
    <script src="/js/crud.js"></script>
</body>

</html>