<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Crud</title>
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header">
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="/filterMovies"><i class="fa-solid fa-filter"></i> Filter Movies</a></li>
                <li class="nav-item"><a href="/crud"><i class="fa-solid fa-list"></i>Crud</a></li>
            </ul>
        </nav>
        <nav>
            <ul class="nav-list">
                <li class="nav-item"><a href="/loginAdmin"><i class="fa-solid fa-user-tie"></i> Admin</a></li>
                <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a>
                </li>
            </ul>
        </nav>
    </div>

    <form onsubmit="return false">
        <label for="entity">Selecciona la entidad:</label>
        <select name="entity" id="entity" onchange="showFields()">
            <option value="country" selected>País</option>
            <option value="language">Idioma</option>
            <option value="language_role">Rol de Idioma</option>
            <option value="genre">Género</option>
            <option value="keyword">Palabra Clave</option>
            <option value="production_company">Compañía de Producción</option>
            <option value="gender">Génder</option>
            <option value="person">Persona</option>
            <option value="department">Departamento</option>
        </select>

        <br>
        <div id="countryFields" class="hidden">
            <label for="countryInput1">country_iso_code(XX):</label>
            <input type="text" id="countryInput1" name="countryInput">
            <label for="countryInput2">country_name:</label>
            <input type="text" id="countryInput2" name="countryInput">
        </div>

        <div id="languageFields" class="hidden">
            <label for="languageInput1">language_role:</label>
            <input type="text" id="languageInput1" name="languageInput">
        </div>

        <div id="language_roleFields" class="hidden">
            <label for="languageroleInput1">language_code(XX):</label>
            <input type="text" id="languageroleInput1" name="languageroleInput">
            <label for="languageroleInput2">language_name:</label>
            <input type="text" id="languageroleInput2" name="languageroleInput">
        </div>

        <div id="genreFields" class="hidden">
            <label for="genreInput">Genero de :</label>
            <input type="text" id="genreInput" name="genreInput">
        </div>

        <div id="keywordFields" class="hidden">
            <label for="keywordInput">Keyword_Name:</label>
            <input type="text" id="keywordInput" name="keywordInput">
        </div>

        <div id="production_companyFields" class="hidden">
            <label for="production_companyInput">Nombre Compañia:</label>
            <input type="text" id="production_companyInput" name="production_companyInput">
        </div>

        <div id="genderFields" class="hidden">
            <label for="genderInput">Género:</label>
            <input type="text" id="genderInput" name="genderInput">
        </div>

        <div id="personFields" class="hidden">
            <label for="personInput">Nombre Persona:</label>
            <input type="text" id="personInput" name="personInput">
        </div>

        <div id="departmentFields" class="hidden">
            <label for="deparmentInput">Nombre Departamento:</label>
            <input type="text" id="deparmentInput" name="departmentInput">
        </div>

        <br>

        <br>
        <button type="button">Insertar</button>
    </form>


    <div class="button-section">
        <button type="button" id="prevButton">Anterior</button>
        <button type="button" id="nextButton">Siguiente</button>
    </div>

    <section>
        <table id="table">
            <thead>

            </thead>
            <tbody>

            </tbody>
        </table>
    </section>
    <script src="/js/crud.js"></script>
</body>

</html>