<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/DrawTable.css">
</head>
<body>
<h1>Movie Filter</h1>

<form action="/filterMovies" method="post">
    <label for="keyword">Filtrar por:</label>
    <input type="text" id="keyword" name="keyword">
    <button type="submit">Buscar</button>
</form>

<table>
    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Budget</th>
        <th>Homepage</th>
        <th>Overwiew</th>
        <th>Popularity</th>
        <th>Release_Date</th>
        <th>Revenue</th>
        <th>Movie_Status</th>
        <th>Tagline</th>
        <th>Vote_Average</th>
        <th>Vote_Count</th>

    </tr>
    <th:block th:each="movie : ${movies}">
        <tr>
            <td th:text="${movie.movie_id}"></td>
            <td th:text="${movie.title}"></td>
            <td th:text="${movie.budget}"></td>
            <td th:text="${movie.homepage}"></td>
            <td th:text="${movie.overview}"></td>
            <td th:text="${movie.popularity}"></td>
            <td th:text="${movie.release_date}"></td>
            <td th:text="${movie.revenue}"></td>
            <td th:text="${movie.runtime}"></td>
            <td th:text="${movie.movie_status}"></td>
            <td th:text="${movie.tagline}"></td>
            <td th:text="${movie.vote_average}"></td>
            <td th:text="${movie.Vote_count}"></td>
        </tr>
    </th:block>
</table>
</body>
</html>