<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FilterMovies</title>
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/filterMovies"><i class="fa-solid fa-filter"></i> Filter Movies</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/loginAdmin"><i class="fa-solid fa-user-tie"></i> Admin</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
        </ul>
    </nav>
</div>

<form action="/filterMovies" method="post">
    <label for="filterType">Cerca de pel·lícules:</label>
    <select id="filterType" name="filterType">
        <option value="actor">Per actor</option>
        <option value="characters">Per personatges</option>
        <option value="title">Per títol</option>
        <option value="genre">Per gènere</option>
        <option value="director">Per director</option>
    </select>

    <label for="keyword">Filtrar por:</label>
    <input type="text" id="keyword" name="keyword">

    <button type="button" id="buscarButton">Buscar</button>
</form>


<div class="button-section">
    <button type="button" id="prevButton">Anterior</button>
    <button type="button" id="nextButton">Siguiente</button>
</div>
<section>
<table id="table">
    <thead>
    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Budget</th>
        <th>Overwiew</th>
        <th>Popularity</th>
        <th>Release_Date</th>
        <th>Revenue</th>
        <th>Vote_Average</th>
    </tr>
    </thead>
    <tbody>

    </tbody>
</table>
</section>
<script src="/js/main.js"></script>
</body>
</html>