<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>FilterMovies</title>
    <link rel="stylesheet" href="/css/DrawTable.css">
    <script src="https://kit.fontawesome.com/2684e8a577.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="header">
    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/filterMovies"><i class="fa-solid fa-filter"></i> Filter Movies</a></li>
        </ul>
    </nav>

    <nav>
        <ul class="nav-list">
            <li class="nav-item"><a href="/loginAdmin"><i class="fa-solid fa-user-tie"></i> Admin</a></li>
            <li class="nav-item"><a href="/Logout"><i class="fa-solid fa-right-from-bracket"></i> Cerrar Sesión</a></li>
        </ul>
    </nav>
</div>

<form action="/filterMovies" method="post">
    <label for="filterType">Cerca de pel·lícules:</label>
    <select id="filterType" name="filterType">
        <option value="actor">Per actor</option>
        <option value="characters">Per personatges</option>
        <option value="title">Per títol</option>
        <option value="genre">Per gènere</option>
        <option value="director">Per director</option>
    </select>

    <label for="keyword">Filtrar por:</label>
    <input type="text" id="keyword" name="keyword">

    <button type="submit">Buscar</button>
</form>

<!--
<div>
    <a th:href="@{/filterMovies(page=0)}">Primera</a>
    <a th:href="@{/filterMovies(page=${currentPage - 1})}" th:if="${currentPage > 0}">Anterior</a>
    <span th:text="${currentPage + 1} + ' / ' + ${totalPages}"></span>
    <a th:href="@{/filterMovies(page=${currentPage + 1})}" th:if="${currentPage + 1 < totalPages}">Siguiente</a>
    <a th:href="@{/filterMovies(page=${totalPages - 1})}">Última</a>
</div>
-->
<div>
    <button type="button" id="prevButton">Anterior</button>
    <button type="button" id="nextButton">Siguiente</button>
</div>
<section>
<table id="table">
    <tr>
        <th>Movie ID</th>
        <th>Title</th>
        <th>Budget</th>
        <!-- <th>Homepage</th> -->
        <th>Overwiew</th>
        <th>Popularity</th>
        <th>Release_Date</th>
        <th>Revenue</th>
        <!-- <th>Runtime</th>
        <th>Movie_Status</th>
        <th>Tagline</th> -->
        <th>Vote_Average</th>
        <th>Director</th>


    </tr>
   <th:block th:each="movie : ${movies}">
       <tr>
           <td th:text="${movie.movie_id}"></td>
           <td th:text="${movie.title}"></td>
           <td th:text="${movie.budget}"></td>
           <!--<td th:text="${movie.homepage}"></td> -->
            <td th:text="${movie.overview}"></td>
            <td th:text="${movie.popularity}"></td>
            <td th:text="${movie.release_date}"></td>
            <td th:text="${movie.revenue}"></td>
            <!--<td th:text="${movie.runtime}"></td>
            <td th:text="${movie.movie_status}"></td>
            <td th:text="${movie.tagline}"></td> -->
            <td th:text="${movie.vote_average}"></td>
           <td>
           <div th:each="crew : ${movie.movieCrews}">
               <p th:if="${crew.job == 'Director'}" th:text="${crew.person.person_name}"></p>
           </div>
           </td>
        </tr>
    </th:block>
</table>
</section>
</body>
</html>